{% extends 'main/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'contacts/css/contacts.css' %}">
    <link rel="stylesheet" href="{% static 'contacts/css/contacts_adaptive.css' %}">
{% endblock %}

{% block content %}
    <style>
        @media (max-width: 600px) {
            .form-input-div {width: 400px;}
            .submit-btn {width:max-content;}
        }

        #contacts-info {
            background: url("{% static 'contacts/img/contacts_bg_image.png' %}");
        }

        @media (max-width: 770px) {
            .submit-btn {width:max-content;}
        }

        @media (max-width: 480px) {
            .form-input-div {width: 350px;}
        }
    </style>
    <div id="header-info-block">
        <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d661.5793456120724!2d35.06767334707029!3d48.450439661138155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDjCsDI3JzAxLjYiTiAzNcKwMDQnMDQuMCJF!5e0!3m2!1suk!2sua!4v1718698473456!5m2!1suk!2sua" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div id="contacts-info">
        <h1>Наші контакти</h1>
        <div id="info-block">
            <div class="info-blocks">
                <div class="info-b first">
                    <img src="{% static 'contacts/img/contacts_location.png' %}" alt="contacts-location" class="contacts-icon">
                    <div class="info-b-text">
                        <h2>Адреса</h2>
                        <p>Дніпро. вул Сімферопольська, 2к</p>
                    </div>
                </div>

                <div class="info-b second">
                    <img src="{% static 'contacts/img/contacts_phone.png' %}" alt="contacts-phone" class="contacts-icon">
                    <div class="info-b-text">
                        <h2>Телефон</h2>
                        <p>+380 97 517 63 83</p>
                    </div>
                </div>
            </div>

            <div class="info-blocks">
                <div class="info-b first">
                    <img src="{% static 'contacts/img/contacts_email.png' %}" alt="contacts-email" class="contacts-icon">
                    <div class="info-b-text">
                        <h2>Пошта</h2>
                        <p>doctorprohorenkoclinic@gmail.com</p>
                    </div>
                </div>

                <div class="info-b second">
                    <img src="{% static 'contacts/img/contacts_instagram.png' %}" alt="contacts-instagram" class="contacts-icon">
                    <div class="info-b-text">
                        <h2>Інстаграм</h2>
                        <a href="https://www.instagram.com/dr._prohorenko?utm_source=qr" class="link"><p>@dr._prohorenko</p></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}