main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 0 40px 0;
}

#block-sertificates {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 680px;
    box-shadow: 0 4px 30px #000;
    z-index: 8;
}

#text-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 50px;
    gap: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    border-radius: 24px;
    border: 1px solid #C0C0C0;
    box-shadow: 0 0 20px #000;
    width: fit-content;
    color: white;
}

#text-block h1 {
    font-size: 48px;
}

#text-block h2 {
    font-size: 18px;
}

.sertificate {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    padding: 10px 0;
}

.img-sertificate {
    height: 558px;
    width: 40%;
    background-color: #C0C0C0;
    box-shadow: 0 0 10px #000;
}

.img-sertificate.left-s {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.img-sertificate.right-s {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


.sertificate-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
}

.sertificate-text h1 {font-size: 32px;}
.sertificate-text p {font-size: 26px;}