{% extends 'main/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'sertificates/css/sertificates.css' %}">
    <link rel="stylesheet" href="{% static 'sertificates/css/sertificates_adaptive.css' %}">
{% endblock %}

{% block content %}
    <style>
        #sertificate-main-block {    
            background: url("{% static 'sertificates/img/sertificates_bg_image.png' %}")
        }

        #block-sertificates {
            background: no-repeat center/120% url("{% static 'sertificates/img/sertificates_page_image.png' %}");
        }

        @media (max-width: 600px) {
                .form-input-div {width: 400px;}
                .submit-btn {width:max-content;}

                #block-sertificates {
                    background: no-repeat center/180% url("{% static 'sertificates/img/sertificates_page_image.png' %}");
                    max-width: 600px;
                    height: 300px;
                }
        }

        @media (min-width: 600px) and (max-width: 1200px) {
            #block-sertificates {
                background: no-repeat center/200% url("{% static 'sertificates/img/sertificates_page_image.png' %}");
                height: 500px;
            }
        }
    </style>
    <div id="block-sertificates">
        <div id="text-block">
            <h1>Сертифікати</h1>
            <h2>Підтверджують якість та надійність</h2>
        </div>
    </div>

    <div id="sertificate-main-block">
        <div class="sertificate">
            <img src="{% static 'sertificates/img/sertificates_patterns/1sertificate.png' %}" alt="1sertificate" class="img-sertificate left-s">
            <div class="sertificate-text">
                <h1>Сертифікат "Першого Міжнародного Конгресу Євро-Азіатської Асоціації Дерматовенерологів"</h1>
                <p>Видається учасникам конгресу, які успішно взяли участь у заході і, можливо, пройшли певні освітні програми або тренінги, що проводяться в рамках конгресу</p>
                <p>Цей сертифікат підтверджує участь у події та може включати інформацію про теми, які були вивчені або обговорені під час конференції</p>
            </div>
        </div>

        <div class="sertificate right-ds">
            <div class="sertificate-text">
                <h1>MEDICARE PROFESSIONAL CERTIFICATE</h1>
                <p>Зазвичай видається медичним працівникам, які успішно пройшли спеціалізований курс або навчання, пов'язане з програмою Medicare</p>
                <p>Цей сертифікат підтверджує, що фахівець має необхідні знання і кваліфікацію для роботи з програмою Medicare та надання медичних послуг відповідно до її вимог</p>
            </div>
            <img src="{% static 'sertificates/img/sertificates_patterns/2sertificate.png' %}" alt="2sertificate" class="img-sertificate right-s">
        </div>

        <div class="sertificate">
            <img src="{% static 'sertificates/img/sertificates_patterns/3sertificate.png' %}" alt="3sertificate" class="img-sertificate left-s">
            <div class="sertificate-text">
                <h1>XEOMIN CERTIFICATE</h1>
                <p>Сертифікат видається для підтвердження успішного завершення курсу навчання або тренінгу щодо використання препарату Xeomin</p>
                <p>Це є важливим документом для медичних фахівців або спеціалістів в галузі косметології, які планують використовувати цей препарат для проведення процедур.</p>
            </div>
        </div>

        <div class="sertificate right-ds">
            <div class="sertificate-text">
                <h1>MEDICAL KNOWLEDGE HUB CERTIFICATE</h1>
                <p>Видається учасникам освітніх програм, тренінгів або навчальних заходів, організованих з метою покращення медичних знань та професійної компетентності</p>
                <p>Підтверджує успішне завершення програми і може включати інформацію про теми, що вивчалися, тривалість навчання та інші відповідні деталі</p>
            </div>
            <img src="{% static 'sertificates/img/sertificates_patterns/4sertificate.png' %}" alt="4sertificate" class="img-sertificate right-s">
        </div>

        <div class="sertificate">
            <img src="{% static 'sertificates/img/sertificates_patterns/5sertificate.png' %}" alt="5sertificate" class="img-sertificate left-s">
            <div class="sertificate-text">
                <h1>bti. Human Technology CERTIFICATE</h1>
                <p>Зазвичай видається учасникам навчальних курсів або тренінгів, що охоплюють теми з побудови та застосування технологій у галузі біотехнологій та людського здоров'я</p>
                <p>Цей сертифікат підтверджує успішне завершення навчальної програми та може включати інформацію про технологічні інновації, вивчені під час курсу, а також професійні навички, отримані учасником</p>
            </div>
        </div>

        <div class="sertificate right-ds">
            <div class="sertificate-text">
                <h1>Сертифікат Науково-практичної конференції "Можливі шляхи оптимізації програм лікування та введення хворих у дерматовенерології"</h1>
                <p>Видається учасникам конференції, які успішно взяли участь у заході</p>
                <p>Цей сертифікат підтверджує участь у наукових і практичних дискусіях з питань оптимізації програм лікування та організації медичної допомоги у галузі дерматовенерології</p>
            </div>
            <img src="{% static 'sertificates/img/sertificates_patterns/6sertificate.png' %}" alt="6sertificate" class="img-sertificate right-s">
        </div>

        <div class="sertificate">
            <img src="{% static 'sertificates/img/sertificates_patterns/7sertificate.png' %}" alt="7sertificate" class="img-sertificate left-s">
            <div class="sertificate-text">
                <h1>Dr. Shevchenko Victoria CERTIFICATE</h1>
                <p>Видається після успішного завершення освітньої програми або тренінгу, який проводить доктор Вікторія Шевченко</p>
                <p>Цей сертифікат може підтверджувати отримані знання, навички або участь у спеціалізованому навчальному курсі або заході, організованому доктором Шевченко</p>
            </div>
        </div>

        <div class="sertificate right-ds">
            <div class="sertificate-text">
                <h1>Сертифікат Всеукраїнської науково-практичної конференції УАЛДВК з міжнародною участю </h1>
                <p>"СУЧАСНІ ПІДХОДИ ДО ФОРМУВАННЯ КЛІНІЧНИХ НАСТАНОВ З ДІАГНОСТИКИ І ЛІКУВАННЯ ШКІРНИХ ЗАХВОРЮВАНЬ ТА ІНФЕКЦІЙ, ЩО ПЕРЕДАЮТЬСЯ СТАТЕВИМ ШЛЯХОМ: ЄВРОПЕЙСЬКИЙ ДОСВІД ТА УКРАЇНСЬКІ РЕАЛІЇ"</p>
                <p>Видається учасникам конференції, які успішно взяли участь у заході та підтверджує участь у наукових і практичних дискусіях з актуальних питань дерматології та венерології зокрема щодо діагностики та лікування шкірних захворювань та інфекцій, передаваних статевим шляхом</p>
            </div>
            <img src="{% static 'sertificates/img/sertificates_patterns/8sertificate.png' %}" alt="8sertificate" class="img-sertificate right-s">
        </div>

        <div class="sertificate">
            <img src="{% static 'sertificates/img/sertificates_patterns/9sertificate.png' %}" alt="9sertificate" class="img-sertificate left-s">
            <div class="sertificate-text">
                <h1>Сертифікат участника Регіональної науково-практичної конференції "Прикарпатські дермотовенерологічні дні: Сучасні аспекти реформування дерматовенерологічної служби"</h1>
                <p>Зазвичай видається учасникам конференції, які успішно взяли участь у заході. Цей сертифікат підтверджує участь у наукових і практичних дискусіях з актуальних аспектів реформування дерматовенерологічної служби на Прикарпатті</p>
            </div>
        </div>

        <div class="sertificate right-ds">
            <div class="sertificate-text">
                <h1>Сертифікат члена Української Асоціації Лікарів-Дерматовенерологів і Косметологів</h1>
                <p>Зазвичай надається лікарям та косметологам, які стали членами цієї професійної організації</p>
                <p>Цей сертифікат підтверджує, що фахівець є членом асоціації, що зобов'язує його до дотримання стандартів індустрії, професійного розвитку та етичних норм, які встановлюються асоціацією</p>
            </div>
            <img src="{% static 'sertificates/img/sertificates_patterns/10sertificate.png' %}" alt="10sertificate" class="img-sertificate right-s">
        </div>

        <div class="sertificate">
            <img src="{% static 'sertificates/img/sertificates_patterns/11sertificate.png' %}" alt="11sertificate" class="img-sertificate left-s">
            <div class="sertificate-text">
                <h1>Сертифікат учасника дводенного інтенсиву "ТВІЙ ДЕРМАТОЛОГІЧНИЙ РЕБУС"</h1>
                <p>Видається учасникам, які успішно взяли участь у цьому навчальному заході</p>
                <p>Цей сертифікат підтверджує активну участь у програмі і може включати інформацію про теми, що вивчалися, новітні технології та практичні навички, які отримали учасники в ході інтенсиву</p>
            </div>
        </div>

        <div class="sertificate right-ds">
            <div class="sertificate-text">
                <h1>Сертифікат члена Української Асоціації Лікарів-Дерматовенерологів і Косметологів</h1>
                <p>Зазвичай надається лікарям та косметологам, які стали членами цієї професійної організації</p>
                <p>Цей сертифікат підтверджує, що фахівець є членом асоціації, що зобов'язує його до дотримання стандартів індустрії, професійного розвитку та етичних норм, які встановлюються асоціацією</p>
            </div>
            <img src="{% static 'sertificates/img/sertificates_patterns/12sertificate.png' %}" alt="12sertificate" class="img-sertificate right-s">
        </div>

        <div class="sertificate">
            <img src="{% static 'sertificates/img/sertificates_patterns/13sertificate.png' %}" alt="13sertificate" class="img-sertificate left-s">
            <div class="sertificate-text">
                <h1>Сертифікат Всеукраїнської Асоціації Трихологів</h1>
                <p>Видається спеціалістам, які успішно пройшли спеціалізовану підготовку або навчання в галузі трихології</p>
                <p>Цей сертифікат підтверджує професійні знання і компетенції у сфері діагностики та лікування захворювань волосся і шкіри голови, а також членство в асоціації, яка підтримує стандарти професійної практики трихологів в Україні</p>
            </div>
        </div>

        <div class="sertificate right-ds">
            <div class="sertificate-text">
                <h1>All-Ukrainian Association of Children with Alopecia CERTIFICATE</h1>
                <p>Зазвичай видається членам асоціації або учасникам подій, які присвячені підтримці дітей з алопецією</p>
                <p>Цей сертифікат може підтверджувати участь у благодійних заходах, освітніх програмах або інших ініціативах, спрямованих на підвищення обізнаності та підтримку дітей і підлітків, які стикаються з цим медичним станом</p>
            </div>
            <img src="{% static 'sertificates/img/sertificates_patterns/14sertificate.png' %}" alt="14sertificate" class="img-sertificate right-s">
        </div>

        <div class="sertificate">
            <img src="{% static 'sertificates/img/sertificates_patterns/15sertificate.png' %}" alt="15sertificate" class="img-sertificate left-s">
            <div class="sertificate-text">
                <h1>MERZ-Academy of Advanced Aesthetics CERTIFICATE</h1>
                <p>видається учасникам навчальних курсів або тренінгів, організованих MERZ Pharmaceuticals GmbH, що спеціалізується на передових методиках і технологіях в області естетичної медицини</p>
                <p>Цей сертифікат підтверджує успішне завершення програми навчання та може включати інформацію про новітні методики лікування, професійні навички та стандарти, які встановлюються компанією MERZ</p>
            </div>
        </div>
    </div>
{% endblock %}